

.button{
    display: inline-flex;
    padding: 0.5rem 1.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.primary{
       border-radius: 0.25rem;
       background: var(--primary-main, #2196F3);
        border: 0;

        &:hover{
            background-color: aqua;
        }
    }

    &.secondary{
      background-color: green;
    }

    
    &.s{
        width: 10px;

    }

    &.m{
        width: 100px;
    }

}